@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.container {
    min-height: 100vh;
    min-width: 100vw;
    background-image: url(../img/BgSignOn.svg);
    overflow: hidden;
    background-size: cover;
} 

.fontSignOn {
    padding-top: 20px;
    margin-left: 10px;
    font-size: 20px;
}

.fontKanit {
    font-size: 20px;
}
